.img1{
    background-image: url(../img/home/aviao.jpg);
    background-repeat: no-repeat;
    width: 600px;
    height: 337px;
}
.img2{
    background-image: url(../img/home/viagem.jpg);
    background-repeat: no-repeat;
    width: 600px;
    height: 337px;
}
.img3{
    background-image: url(../img/home/praia.jpg);
    background-repeat: no-repeat;
    width: 600px;
    height: 337px;
}
.img4{
    background-image: url(../img/home/familia-ferias.jpg);
    background-repeat: no-repeat;
    width: 600px;
    height: 337px;
}
.qs{
    width: 100%;
    text-align: center;
}
@media (max-width: 1400px){
    .img1{
        background-image: url(../img/home/aviao.jpg);
        background-repeat: no-repeat;
        width: 500px;
        height: 280px;
    }
    .img2{
        background-image: url(../img/home/viagem.jpg);
        background-repeat: no-repeat;
        width: 500px;
        height: 280px;
    }
    .img3{
        background-image: url(../img/home/praia.jpg);
        background-repeat: no-repeat;
        width: 500px;
        height: 280px;
    }
    .img4{
        background-image: url(../img/home/familia-ferias.jpg);
        background-repeat: no-repeat;
        width: 500px;
        height: 280px;
    }
}
@media (max-width: 1200px){
    .img1{
        background-image: url(../img/home/aviao.jpg);
        background-repeat: no-repeat;
        width: 375px;
        height: 210px;
    }
    .img2{
        background-image: url(../img/home/viagem.jpg);
        background-repeat: no-repeat;
        width: 375px;
        height: 210px;
    }
    .img3{
        background-image: url(../img/home/praia.jpg);
        background-repeat: no-repeat;
        width: 375px;
        height: 210px;
    }
    .img4{
        background-image: url(../img/home/familia-ferias.jpg);
        background-repeat: no-repeat;
        width: 375px;
        height: 210px;
    }
}
@media (max-width: 768px){
    .img1{
        background-image: url(../img/home/aviao.jpg);
        background-repeat: no-repeat;
        width: 375px;
        height: 210px;
    }
    .img2{
        background-image: url(../img/home/viagem.jpg);
        background-repeat: no-repeat;
        width: 375px;
        height: 210px;
    }
    .img3{
        background-image: url(../img/home/praia.jpg);
        background-repeat: no-repeat;
        width: 375px;
        height: 210px;
    }
    .img4{
        background-image: url(../img/home/familia-ferias.jpg);
        background-repeat: no-repeat;
        width: 375px;
        height: 210px;
    }
}